/*
ORDER CSS
1. box-model
2. width, height, margin,padding
3. positioning, display
4. Styling
*/

*{ box-sizing: border-box; }

body{
    margin: 0;
}

.wraper-main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.wraper-box{
    width: 800px;
    height: 700px;
    margin: 100px;

    border: 2px dashed #000;
}

section{
    height: 100%;
}
article{
    padding: 50px;
    
    border: 5px solid #f00;
}
.ex1{
    height: 100%;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.box-ex1{
    width: 500px;
}

.ex2{
    height: 100%;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.box-ex2-1{
    align-self: flex-start;
}
.box-ex2-3{
    align-self: flex-end;
}
.box-ex2-2{
    align-self: stretch;
}

.ex3{
    height: 100vh;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}