*{ box-sizing: border-box; }

body{
    margin: 0;
}

h2{
    color: #fff;
    margin: 0;
    font-family: sans-serif;
    font-size: 24px;
    text-decoration: underline;
}

header{
    margin: 0 auto;
    margin-top: 100px;
    width: 700px;
    height: 60px;
    background-color: #ffc0cb;

    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: space-between;
    align-items: baseline;
}

header > a {
    height: 100%;
    padding: 0px 16px;
    background-color: #f00;
    
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: center;
    align-items: center;
}

nav{
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: center;
    align-items: center;
}

nav > a{
    text-decoration: underline #f00;
    font-family: sans-serif;
    color: #f00;

    border-left: 1px solid #f00;
    padding: 10px 20px;
    text-align: center;
}

/*
nav > a:nth-child(odd){
    background-color: aqua;
}
nav > a:nth-child(even){
    background-color: yellow;
}
nav > a:first-child{
    background-color: green;
}
*/